
@{
    ViewBag.Title = "Index";
}

<h2>Teste Rumo</h2>

@using (Ajax.BeginForm("Index", "Rumo", new AjaxOptions { UpdateTargetId = "mapa" }))
{
    <div class="form-group">
        <div class="col-md-10">
            @Html.Label("Origem")
            @Html.TextBox("PointA", null, new { @class = "form-control", @style = "width:210px", id = "Local" })
            <button class="button-two">Ir</button>
        </div>
    </div>
}

<iframe id="mapa" width="600" height="450" frameborder="0" style="border:0" src="@(ViewBag.Link)" allowfullscreen></iframe>