.custom-navbar {
    background-color: rgba(0,0,0,0.5);
    height: 50px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

    .custom-navbar.opaque {
        background-color: black;
        height: 50px;
        transition: background-color .5s ease 0s;
    }



    .banner .row {
        margin-top: 200px;
    }

body {
    background: url("../../Images/Background.jpg") no-repeat;
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 600px;
    position: relative;
    
    /****************************************************
  * set the backround image to 100% width of the screen 
  *****************************************************/
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table.hidden {
    display: none;
}
div.banner{
    padding-bottom: 500px;
}




/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

a {
    color: dimgrey;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #f9f9f9;
}
