@model AFGT.Models.GeneroMusical

<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(model => model.NomeEstilo, "Estilo Musical", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("GeneroMusicalID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GeneroMusicalID, "", new { @class = "text-danger" })
        </div>
    </div>
</div>





