@*@model SpotifyWebAPI.Artist*@
@{
    ViewBag.Title = "Busca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>go</h1>
<ul id="results"></ul>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/testeAPI")