@model IEnumerable<AFGT.Models.Evento>

<h1>Teste</h1>

<div class="row">
    @{
        var SortedEvent = Model.Data.sort();
        foreach (var evento in SortedEvent)
        {
            <div class="col-md-4">
                <p> evento.NomeEvento </p> @*bla bla bla*@
            </div>
        }
    }
</div>

<script>
        var TipoPesquisa = $('.search').val();
        var ConteudoPesquisa = $('.conteudo').text;

        $('button').click(function () {
            while (!ConteudoPesquisa.length) {
                SortedEvent = Model.date.sort();
            }

            switch (TipoPesquisa) {
                case "Artista":
                    SortedEvent = Model.Artista.All(ConteudoPesquisa).Data.sort();
                    break;

                case "Genero":
                    SortedEvent = Model.Genero.All(ConteudoPesquisa).Data.sort();
                    break;
            }
        })
</script>
