@model IEnumerable<AFGT.Models.Evento>

@{
    ViewBag.Title = "Home Page";
}
<div>
    @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "resultadosPesquisa" }))
    {
        <div class="form-group">
            @Html.Partial("_Banner")
            <div class="row">
                <br>
                <br>
                @Html.Partial("_ResultadosPesquisa", Model)
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function TipoPesquisa(val) {
            if (val == '2') {
                $('#Artista').removeClass('active').addClass('hidden');
                $('#Genero').removeClass('hidden').addClass('active');
            } else {
                $('#Genero').removeClass('active').addClass('hidden');
                $('#Artista').removeClass('hidden').addClass('active');
            }
        }

        function TipoOpcao(val) {
            if (val == '2') {
                $('#Data').removeClass('active').addClass('hidden');
                $('#Local').removeClass('hidden').addClass('active');
            } else {
                $('#Local').removeClass('active').addClass('hidden');
                $('#Data').removeClass('hidden').addClass('active');
            }
        }
    </script>
}
