@model IEnumerable<AFGT.Models.Evento>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <input type="text" class="form-control conteudo" />
            <button class="btn btn-default">Ir</button>
            <select id="search">
                <option value="Artista">Artista</option>
                <option value="Genero">Genero</option>
            </select>
        </div>
    </div>
    <h1>AFGT</h1>
    <p class="lead">AFGT guia-te pelo o que ouves! xD</p>
</div>


<div class="row">
    <p>Pesquisar por:</p>
    <select id="option">
        <option value="Data">Data</option>
        <option value="Local">Local</option>
    </select>
    <br>
   <br>
   <div class="active" id="Data">
        @Html.Partial("Data")        
   </div>
   <div class="hidden" id="Local">
        @Html.Partial("Local")
   </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $('#option').change(function () {
            var TipoOpcao = $('#option').val();
            if (TipoOpcao == "Local") {
                $('#Data').removeClass('active').addClass('hidden');
                $('#Local').removeClass('hidden').addClass('active');
            } else {
                $('#Local').removeClass('active').addClass('hidden');
                $('#Data').removeClass('hidden').addClass('active');
            }
        })

        $('button').click(function () {
            var TipoPesquisa = $('#search').val();
            var ConteudoPesquisa = $('.conteudo').text;
            var TipoOpcao = $('#option').val();

            switch (TipoPesquisa) {
                case "Artista":
                    if (TipoOpcao == "Local") {
                        var dist;
                         "Artista-Local-OK!!"
                    } else {
                        "Artista- Data - OK!!";
                        //SortedEvent = Model.Artista.All(ConteudoPesquisa).Data.sort();
                    }
                    break;

                case "Genero":
                    if (TipoOpcao == "Local") {
                        var dist;
                        "Genero-Local-OK!!"
                    } else {
                        //SortedEvent = Model.Genero.All(ConteudoPesquisa).Data.sort();
                        "Genero-Local-OK!!"
                    }
                    break;
            }
        })
    </script>

}