@model IEnumerable<AFGT.Models.Evento>

@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm("Index", "Home", new AjaxOptions { UpdateTargetId = "MotorBusca" }))
{
    <div class="form-group">
        @Html.Partial("Banner")
        <div class="row" id="MotorBusca">
            @Html.Partial("ResultadosPesquisa")
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#option').change(function () {
            var TipoOpcao = $('#option').val();
            if (TipoOpcao == 'Local') {
                $('#Data').removeClass('active').addClass('hidden');
                $('#Local').removeClass('hidden').addClass('active');
            } else {
                $('#Local').removeClass('active').addClass('hidden');
                $('#Data').removeClass('hidden').addClass('active');
            }
        })

        function TipoPesquisa(val) {
            if (val == '2') {
                $('#Artista').removeClass('active').addClass('hidden');
                $('#Genero').removeClass('hidden').addClass('active');
            } else {
                $('#Genero').removeClass('active').addClass('hidden');
                $('#Artista').removeClass('hidden').addClass('active');
            }
        }
    </script>
}