@model IEnumerable<AFGT.Models.Evento>

@{
    ViewBag.Title = "Home Page";
}
<div>
    @using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "resultadosPesquisa" }))
    {
        <div class="form-group">
            @Html.Partial("_Banner")
            <div class="row">
                <div id="ordenar">
                    <p>Ordenar por:</p>
                    <select id="option" name="TipoOpcao">
                        <option id="optionD" value="Data">Data</option>
                        <option id="optionL" value="Local">Cidade</option>
                    </select>
                </div> 
                <br>
                <br>
                @Html.Partial("_ResultadosPesquisa", Model)
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function TipoPesquisa(val) {
            if (val == '2') {
                $('#Artista, #Data,#Local').removeClass('active').addClass('hidden');
                $('#Genero,#ordenar').removeClass('hidden').addClass('active');
            } else if (val == '3'){
                $('#Genero,#Artista,#Local,#ordenar').removeClass('active').addClass('hidden');
                $('#Data').removeClass('hidden').addClass('active');
            } else if (val == '4') {
                $('#Genero,#Artista,#Data,#ordenar').removeClass('active').addClass('hidden');
                $('#Local').removeClass('hidden').addClass('active');
            } else {
                $('#Genero,#Data,#Local').removeClass('active').addClass('hidden');
                $('#Artista,#ordenar').removeClass('hidden').addClass('active');
            }
        }
    </script>
}
