@model IEnumerable<AFGT.Models.Evento>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <input type="text" class="form-control conteudo" />
            <button class="btn btn-default pesquisa">Ir</button>
            <select>
                <option class="search">Artista</option>
                <option class="search">Genero</option>
            </select>
        </div>
    </div>
    <h1>AFGT</h1>
    <p class="lead">AFGT guia-te pelo o que ouves! xD</p>
</div>


<div class="row">
    <p>Pesquisar por:</p>
    <select>
        <option class="option">Data</option>
        <option class="option">Local</option>
    </select>
    <br>
   <br> 
    @{
        var result = "Data";
        @Html.Partial(result)
        
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var i;
        var TipoPesquisa = $('.search').val();
        var ConteudoPesquisa = $('.conteudo').text;
        var TipoOpcao = $('.option').val();

        while (!ConteudoPesquisa.length || i == 0) {
            if (TipoOpcao == "Local") {
                result = "Local";
            } 
        }

        $('button.pesquisa').click(function () {
            i++;
            switch (TipoPesquisa) {
                case "Artista":
                    if (TipoOpcao == "Local") {
                        var dist;
                    } else {
                        SortedEvent = Model.Artista.All(ConteudoPesquisa).Data.sort();
                    }
                    break;

                case "Genero":
                    if (TipoOpcao == "Local") {
                        var dist;
                    } else {
                        SortedEvent = Model.Genero.All(ConteudoPesquisa).Data.sort();
                    }
                    break;
            }
        })
    </script>

}