@model IEnumerable<AFGT.Models.Evento>


<div class="row">
    <div class="col-md-offset-2 col-md-10">
        <input type="text" class="form-control conteudo" placeholder="O que procuras?"/>
        <select id="search">
            <option value="Artista">Artista</option>
            <option value="GeneroMusical">Genero</option>
        </select>
        <button class="btn btn-default">Ir</button>
    </div>
</div>

<div class="row">
     <p>Ordenar por:</p>
     <select id="option">
         <option value="Data">Data</option>
         <option value="Local">Local</option>
     </select>
     <br>
     <br>
     <div class="active" id="Data">
         @{
             foreach (var evento in Model)
             {
                 <div class="col-md-4">
                     <p> evento.Nome </p> @*bla bla bla*@
                     <p> evento.Foto </p>
                 </div>
             }
         }

         @Html.Partial("Data")
         
     </div>
     <div class="hidden" id="Local">
        <!----ver questao da api do local><!---->
         @Html.Partial("Local")
     </div>
</div>   




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#option').change(function () {
            var TipoOpcao = $('#option').val();
            if (TipoOpcao == "Local") {
                $('#Data').removeClass('active').addClass('hidden');
                $('#Local').removeClass('hidden').addClass('active');
            } else {
                $('#Local').removeClass('active').addClass('hidden');
                $('#Data').removeClass('hidden').addClass('active');
            }
        })
    </script>

}