@model IEnumerable<AFGT.Models.Evento>


<div>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details","Eventoes",new {id = item.EventosID })">
            <font size="2">@Html.DisplayFor(e => item.NomeEvento)</font>
            <img src="@Html.DisplayFor(e => item.Link)" height="142" width="142"/>
        </a>
    }

</div>